@import ../../css/_variables.sass

*, *::after, *::before
  box-sizing: border-box

.editor
  display: flex
  flex-direction: column
  height: 100vh

.controls
  background: $toolbar-color
  display: flex
  border-bottom: 1px solid #ddd
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1)
  gap: .5rem

.toolbar
  display: flex
  gap: .25rem
  position: relative

  &:not(:last-child)
    &::after
      content: ''
      display: block
      width: 1px
      background: #ccc
      position: absolute
      right: -.25rem
      top: 3px
      bottom: 3px

.editorContainer
  flex: 1
  padding: 1.5rem
  font-size: 1.1em

  :global
    .DraftEditor-root
      height: 100%
