@import ../../../css/_variables.sass

.button
  display: inline-flex
  margin: 0
  height: $button-height
  line-height: $button-height
  align-items: center
  justify-content: center
  min-width: $button-height
  background: transparent
  border: 0
  outline: 0

  &:hover
    background: $button-hover-bg

  &.active
    background: $button-active-bg

  svg
    height: $icon-height
    width: $icon-height
    
  &.icon
    width: $button-height

  &:not(.icon)
    padding: 0 .75em
